 <div id = "header" >
    <a href="/"><img id = "banner" style = "border: 0; 	margin-bottom: -4px; margin-top: -20px; " src = "/images/banner.jpg" alt = "баннер" width = "100%" /> </a>
   	
	
	 <table id = "top_panel" style = "margin: 0" border = "0" width = "100%">
	   <tr id = "language">
	    <td align = "left" style = 'width: 40%;'> 
			
        <div id = "language_ua">
	     <img  class = "left" src = "/images/envelope.png" alt = "emale" height = "30px"/>
		 <p>valeriy@rele.kharkov.com</p>
	    </div>
		 <div id = "language_ru">
	   </div>
	   </td>
	   <td align = "center">
	
	<div id = "tel">
	  <img  class = "left" src = "/images/telefono-icon.png" alt = "телефон" height = "40px"/>
	  <p>(057) 759 18 54</p>
    </div>
       </td>
       <td align = "right">
			<div id = "order">
		<p><a href = "/pages/order_switcher/your_order.php" title = "Ваш заказ"></a><p>
			</div>
	   </td>
	  </tr>
	</table>
	</div>
	

 <div id="menu">   
	<ul>
	  <li id="menu_index">      
	    <a href = '/' ><span>Главная</span></a>
      </li>
      <li id="menu_products">
	    <a href = '/products' ><span>Продукция</span></a>
      </li>
      <li id="menu_services">
	    <a href = '/services' ><span>Услуги</span></a>
      </li>
      <li id="menu_order">
	    <a href = '/order' ><span>Заказать</span></a>
      </li>
      <li id="menu_payment">
	    <a href = '/payment' ><span>Оплата и доставка</span></a>
      </li>
	  <li id="menu_payment">
	    <a href = '/reg_doc' ><span>Регистр. докум.</span></a>
      </li>
      <li id="menu_contacts">
	    <a href = '/contact_page.php' ><span>Контакты</span></a>
      </li>
    </ul>
 </div>    