<div id = "left_panel">

  <ul id = "menuleft">
	  <li class = "title">
	   <a href = "/site/site/switchers"><span>Переключатели</span></a>
	     <ul>
	       <li>
	          <a href = "/site/site/description_switchers" ><span>Описание</span></a>
	   	   </li> 
	       <li>
	          <a href = "/site/site/certificates" ><span>Сертификаты</span></a>
	   	   </li>
		   <li>
	          <a href = "/site/site/pages/scheme_switch/scheme_switch.php" ><span>Схемы</span></a>
	   	   </li>
		   <li>
	          <a href = "/site/pages/search_scheme/search_scheme.php" ><span>Поиск</span></a>
	   	   </li>
		   <li>
	          <a href = "/site/pages/order_switcher/constr_switcher1new.php" ><span>Конструктор</span></a>
	   	   </li>
		   <li>
	          <a href = "/site/switcher/passport.php" ><span>Паспорт</span></a>
	   	   </li>
		 </ul>  
	  </li> 
	  <li>
	   <a href = "/site/metal_constr" ><span>Металлоконструкции</span></a>
	       <ul>
	       <li>
	          <a href = "/site/cabinets_frame" ><span>Шкафы каркасные</span></a>
	   	   </li> 
	       <li>
	          <a href = "/site/cabinets_allwelded" ><span>Шкафы цельносварные</span></a>
	   	   </li>
		   <li>
	          <a href = "/site/boxes" ><span>Ящики</span></a>
	   	   </li>
		   <li>
	          <a href = "/site/remotes" ><span>Пульты</span></a>
	   	   </li>
		 </ul> 
	   </li>
	  <li>
	   <a href = "/site/bcm" ><span>БУД</span></a>
	  </li> 
	</ul>
		<div style='background: #C4DFF0; padding:20px;'>	
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t27.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано количество просмотров и"+
" посетителей' "+
"border='0' width='88' height='120'><\/a>")
//--></script><!--/LiveInternet-->
		</div>
<div style='background: #C4DFF0; padding:20px;'>	
<form enctype='multipart/form-data' action='/pages/users/admin_panel.php' method='POST'>
Логин:<br />
<input type='text' name='login'>
Пароль:<br />
<input type='password' name='password'><br /><br />
<input type='submit' name='button' value='Войти'></form>
</div>		
		
 </div> 	
  